html, body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
}

h1 {
    margin-top: 10px;
    padding-top: 10px;
}

#color-generator {
    display: flex;
}

/*color form top */
#color-form {
    padding: 0;
    margin: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#color-form input{
    padding: 2px;
    width: 70px;
    height: 50px;
}

#color-form select {
    margin: 0 15px;
    width: 70%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
}

#color-form button {
    margin: 10px 10px;
    padding: 10px 30px;
    border:1px solid grey;
    border-radius: 5px;
}